/kaggle-submission/disaster-tweets/run-cloud-gpu/.floydexpt
/kaggle-submission/disaster-tweets/run-cloud-gpu/.floydignore
/kaggle-submission/disaster-tweets/run-cloud-gpu/floyd.yml
/kaggle-submission/disaster-tweets/run-cloud-gpu/*.csv
/kaggle-submission/*.csv
